@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton&family=Bangers&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Nosifer&family=Protest+Revolution&family=Yatra+One&display=swap');

body{
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #101728;
}
.title-head img{
    width: 100px;
    height: 100px;
}
.title-head{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
}

/* section-1*/

.desc-1 h1{
    font-size: 80px;
    color: white;
}
.desc-1 button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right , #9340ff , #ff3c5f);
    font-family: "Jersey 15" , serif;
    font-size: 30px;
    color: #101728;
    cursor: pointer;
}
.desc-1{
    margin:300px 150px;
}
.image-1 img{
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    z-index: 1;
}
.image-1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -650px;
    margin-right: 150px; 
}
.image-1::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 78%;
    width: 550px;
    height: 550px;
    border-radius: 80%;
    background: radial-gradient(circle, rgba(147, 64, 255, 0.8), rgba(255, 60, 95, 0.1));
    transform: translate(-50%, -50%);
    z-index: 0; 
    animation: shine 5s infinite;
}


@keyframes shine {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
}

/* section - 2 */
.section-2{
    padding: 250px 0;
}
.desc-2 h1{
    color: #9340ff;
    font-size: 60px;
}
.desc-2 p{
    color: white;
    font-size: 40px;
}
.desc-2{
    width: 800px;
    text-align: center;
}
.big-desc-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section - 3*/

.desc-3 h1{
    font-size: 60px;
    color: #9340ff;
}
.desc-3 p{
    color: white;
    font-size: 30px;
}
.desc-3{
    width: 500px;
    margin: 200px 150px;
}
.image-3 img{
    border-radius: 50px;
}
.image-3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -500px;
    margin-right: 150px;
}

/* section - 4 */
.section-4{
    padding: 250px 0;
}
.image-4 img{
    border-radius: 50px;
}
.desc-4 h1{
    font-size: 60px;
    color: #9340ff;
}
.desc-4 p{
    font-size: 30px;
    color: white;
}
.desc-4{
    width: 500px;
    text-align: center;
}
.image-4{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 400px;
}

/* section - 5 

It's empty cause code is simple

*/

/* footer */

footer{
    padding: 250px 0;
}

.title-foot img{
    width: 100px;
    height: 100px;
}
.title-foot{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
}
.contact h1{
    font-size: 60px;
    color: #9340ff;
}
.contact p{
    font-size: 25px;
    color: white;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-btn button{
    width: 150px;
    height: 50px;
    background: linear-gradient(to right , #9340ff , #ff3c5f);
    border: none;
    border-radius: 20px;
    font-family: "Jersey 15" , serif;
    font-size: 25px;
    color: #101728;
    cursor: pointer;
}
.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:350px) and (max-width:1200px){
    .title-head img{
        width: 50px;
        height: 50px;
    }
    .title-head{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* section - 1*/
    .desc-1 h1{
        font-size: 40px;
        text-align: center;
    } 
    .desc-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }
    .image-1 img{
        width: 300px;
        height: 300px;
    }
    .image-1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        margin-left: 125px;
    }

    .image-1::before {
        content: '';
        position: absolute;
        top: 78%;
        left: 47%;
        width: 280px;
        height: 280px;
        border-radius: 80%;
        background: radial-gradient(circle, rgba(147, 64, 255, 0.8), rgba(255, 60, 95, 0.1));
        transform: translate(-50%, -50%);
        z-index: 0; 
        animation: shine 5s infinite;
    }

    /* section - 2 */

    .desc-2 h1{
        font-size: 40px;
    }
    .desc-2 p{
        font-size: 30px;
    }
    .desc-2{
        width: 300px;
        margin: 0;
    }

    /* section - 3 */

    .section-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image-3 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-3{
        margin-top: -150px;
        margin-right: 20px;
    }
    .desc-3 h1{
        font-size: 40px;
    }
    .desc-3 p{
        font-size: 30px;
    }
    .desc-3{
        width: 300px;
    }

    /* section - 4 */

    .image-4 img{
        width: 300px;
        height: 300px;
    }
    .image-4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    .desc-4{
        width: 300px;
    }
    .image-4 h1{
        font-size: 40px;
    }
    .image-4 p{
        font-size: 30px;
    }
    /* section -5 */

    .section-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* footer */

    .title-foot img{
        width: 50px;
        height: 50px;
    }
    .title-foot h1{
        font-size: 30px;
    }
    .title-foot{
        display: flex;
        justify-content: center;
    }
    .contact{
       text-align: center;
    }
}
